/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.body { 
	margin: 0;
    padding-top:65px;
    a {
        color: #194775;
    }
    .btn-primary {
        color: #ffffff;
    }
}

.bar_border {
	border-bottom: 1.5px solid #838EA8;
}

.cat {
    padding: 8px 15px
}

.sidebar {
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f0f1f5;
    border-right: 1.5px solid #838EA8;
    font-weight: 600;
}

.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px 20%;
    border-bottom: 1px solid #eee;
}

.text-muted {
    margin-top: 5px;
    font-size: 2rem;
}

.box {
    border: 1px solid #cccccc;
    min-height: 100px;
    min-width: 100px;
    margin-bottom: 5px;
    p {
        padding: 5px 10px;
    }
}

.sign-img {
    border-radius: 50%;
    border: 5px solid black;
    -webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.32);
    max-height: 350px;
    max-width: 350px;
}